@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
    font-family: 'Montserrat';
  }


.poppins{
    font-family: 'Poppins', Poppins;
  }


.oleo{
    font-family: 'Oleo Script';
  }

  .inter{
    font-family: 'Inter';
  }



.intro{
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

}

.titleDark {
    font-family: Poppins;
    
    font-weight: 600;
    line-height: 39px;
    text-align: left;
    background: linear-gradient(90.54deg, #4FC3F7 0.46%, #FFFFFF 91.25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .title {
    font-family: Poppins;
    
    font-weight: 600;
    line-height: 39px;
    text-align: left;
    background: linear-gradient(90.54deg, #4FC3F7 0.46%, #484E53 91.25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }


.about-text-dark{

    font-family: Poppins;
    
    font-weight: 600;
    line-height: 39px;
    text-align: center;

    background: linear-gradient(90.54deg, #4FC3F7 0.46%, #FFFFFF 91.25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    

}

.about-text-light{

    font-family: Poppins;
    
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    background: linear-gradient(90.54deg, #4FC3F7 0.46%, #484E53 91.25%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    

}

.service-box{
width: 325px;
height: 325px;
gap: 0px;
opacity: 0px;

}

.chatbotbox{
width: 690px;
height: 325px;
gap: 0px;
opacity: 0px;
}

.chatbotboxmobile{
    width: 325px;
    height: 650px;
    gap: 0px;
    opacity: 0px;
    }


    .stickynav {
        position: fixed;
        top: 0;
        width: full;
        z-index: 50;
        width: 100%;
        animation-duration: 0.7s;
        animation-name: fadeInDown;
        animation-timing-function: ease-out;
      }


.contact-border {
  
    border: width 1px;
    
  }

  select {
    /* Hide the default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    /* Add a custom arrow */
    background-image: url('/assets/drop-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.5em center; /* Adjust the position */
    padding-right: 2em; /* Adjust based on your icon's width */
  }
  