@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
    font-family: 'Montserrat';
  }


.poppins{
    font-family: 'Poppins', Poppins;
  }


.oleo{
    font-family: 'Oleo Script';
  }

  




  